<div class="body">
    <div class="background">
       
        <nav class="navbar navbar-dark bg-dark fixed-top">

            <button class="navbar-toggler d-lg-none" type="button">
                <img src="../../../../assets/img/hamburger.gif" alt="Menu">
            </button>

            <a class="navbar-brand flex-grow-1" href="#">
                <img src="../../../../assets/img/logo.png" class="my-1 mx-2" alt="Netflix">
            </a>

            <ul class="nav text-white d-none d-lg-flex">
                <li class="nav-item d-xl-none">
                    <a class="nav-link active text-reset" href="#">Navegar</a>
                </li>
                <li class="nav-item d-xl-none">
                    <a class="nav-link text-reset" href="#">Infantil</a>
                </li>
                <li class="nav-item d-none d-xl-flex">
                    <a class="nav-link active text-reset" href="#">Inicío</a>
                </li>
                <li class="nav-item d-none d-xl-flex">
                    <a class="nav-link text-reset" href="#">Séries</a>
                </li>
                <li class="nav-item d-none d-xl-flex">
                    <a class="nav-link text-reset" href="#">Filmes</a>
                </li>
                <li class="nav-item d-none d-xl-flex">
                    <a class="nav-link text-reset" href="#">Mais recentes</a>
                </li>
                <li class="nav-item d-none d-xl-flex">
                    <a class="nav-link text-reset" href="#">Minha lista</a>
                </li>
            </ul>

            <form class="form-inline">
                <input class="form-control" type="search" placeholder="Busca">
            </form>

            <div class="media text-white p-2 d-none d-lg-flex">
                <img src="../../../../assets/img/perfil1.png" alt="Avatar" class="mr-2">
            </div>

            <ul class="list-unstyled font-weight-bold sidebar">
                <li class="media media-avatar">
                    <img src="../../../../assets/img/perfil1.png" alt="Avatar" class="mr-2">
                    <div class="media-body">
                        <p class="h6 m-0">Cláudia</p>
                        <small>Trocar de perfil</small>
                    </div>
                </li>
                <li class="divider"></li>
                <li><a href="#" class="text-reset">Inicio</a></li>
                <li><a href="#" class="text-reset">Minha lista</a></li>
                <li><a href="#" class="text-reset">Séries de ação e aventura</a></li>
                <li><a href="#" class="text-reset">Ação e aventura</a></li>
                <li><a href="#" class="text-reset">Séries teen</a></li>
                <li><a href="#" class="text-reset">Filmes africanos</a></li>
                <li><a href="#" class="text-reset">Séries da América Latina</a></li>
                <li><a href="#" class="text-reset">Filmes de Anime</a></li>
            </ul>
        </nav>

        <div class="default-title">
            <div class="title-item">
                <video src="../../../../assets/videos/trailer_guardioes_da_galaxia_1080p.mp4" 
                    controls autoplay>
                </video>
                <div class="col-12 full-banner text-white">
                    <div class="p-4 d-flex justify-content-start h-100">
                        <div class="espacamento">
                            <h1 class="h3">Guardiões da Galáxia</h1>
                            <small class="d-flex my-2">
                                <span class="mr-3">2014</span>
                                <span class="mr-3">12</span>
                                <span>125min</span>
                            </small>
                            <p class="d-none d-lg-block">O aventureiro do espaço Peter Quill torna-se presa de caçadores de recompensas depois que rouba a esfera de um vilão traiçoeiro, Ronan. Para escapar do perigo, ele faz uma aliança com um grupo de quatro extraterrestres. Quando Quill descobre que a esfera roubada possui um poder capaz de mudar os rumos do universo, ele e seu grupo deverão proteger o objeto para salvar o futuro da galáxia.</p>
                            <a href="#" class="btn btn-primary text-uppercase font-weight-bold">Assistir</a>
                        </div>
                    </div>
                </div>
            </div>
        </div><br>

        <div class="p-3 list-titles">
            <h5>Populares na Netflix</h5>
            <div class="d-flex flex-nowrap overflow-hidden">
                <div class="list-item">
                    <video src="../../../../assets/videos/Better Call Saul   Series Trailer [HD]   Netflix.mp4" 
                        controls muted onloadedmetadata="this.muted=true" autoplay>
                    </video>
                    <img src="../../../../assets/img/better-call-saul.jpg" alt="Título">
                    <div class="items">
                        <div class="left-side">
                            <h2>Better Call Saul</h2>
                            <ul class="infos">
                                <li class="relevance">65% relevante</li>
                                <li class="age age-12"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="list-item">
                    <video src="../../../../assets/videos/The Rain - Temporada 2   Trailer oficial   Netflix.mp4" 
                        controls muted onloadedmetadata="this.muted=true" autoplay>
                    </video>
                    <img src="../../../../assets/img/the-rain.jpg" alt="Título">
                    <div class="items">
                        <div class="left-side">
                            <h2>The rain</h2>
                            <ul class="infos">
                                <li class="relevance">70% relevante</li>
                                <li class="age age-12"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="list-item">
                    <video src="../../../../assets/videos/O Menino que Descobriu o Vento • Trailer Legendado.mp4" 
                        controls muted onloadedmetadata="this.muted=true" autoplay>
                    </video>
                    <img src="../../../../assets/img/o-menino-que-descobriu-o-vento.jpg" alt="Título">
                    <div class="items">
                        <div class="left-side">
                            <h2>O menino que descobriu o vento</h2>
                            <ul class="infos">
                                <li class="relevance">56% relevante</li>
                                <li class="age age-12"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="list-item">
                    <video src="../../../../assets/videos/Grey's Anatomy Season 17 Opening Sequence (official trailer).mp4" 
                        controls muted onloadedmetadata="this.muted=true" autoplay>
                    </video>
                    <img src="../../../../assets/img/greys-anatomy.jpg" alt="Título">
                    <div class="items">
                        <div class="left-side">
                            <h2>Grey's Anatomy</h2>
                            <ul class="infos">
                                <li class="relevance">52% relevante</li>
                                <li class="age age-12"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><br>      
            
            <h5>Em alta</h5>
            <div class="d-flex flex-nowrap overflow-hidden">
                <div class="list-item">
                    <video src="../../../../assets/videos/capitao_america_o_primeiro_vingador_trailer__360p.mp4" 
                        controls muted onloadedmetadata="this.muted=true" autoplay>
                    </video>
                    <img src="../../../../assets/img/capitao-america-o-primeiro-vingador.jpg" alt="Título">
                    <div class="items">
                        <div class="left-side">
                            <h2>Capitão América: O primeiro vingador</h2>
                            <ul class="infos">
                                <li class="relevance">98% relevante</li>
                                <li class="age age-12"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="list-item">
                    <video src="../../../../assets/videos/Thor  O Mundo Sombrio - Trailer oficial.mp4" 
                        controls muted onloadedmetadata="this.muted=true" autoplay>
                    </video>
                    <img src="../../../../assets/img/thor-o-mundo-sombrio.jpg" alt="Título">
                    <div class="items">
                        <div class="left-side">
                            <h2>Thor: O mundo sombrio</h2>
                            <ul class="infos">
                                <li class="relevance">92% relevante</li>
                                <li class="age age-12"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="list-item">
                    <video src="../../../../assets/videos/Homem de Ferro - Trailer Legendado.mp4" 
                        controls muted onloadedmetadata="this.muted=true" autoplay>
                    </video>
                    <img src="../../../../assets/img/homem-de-ferro.jpg" alt="Título">
                    <div class="items">
                        <div class="left-side">
                            <h2>Homem de Ferro</h2>
                            <ul class="infos">
                                <li class="relevance">89% relevante</li>
                                <li class="age age-12"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="list-item">
                    <video src="../../../../assets/videos/Iron_Man_2_Official.mp4" 
                        controls muted onloadedmetadata="this.muted=true" autoplay>
                    </video>
                    <img src="../../../../assets/img/homem-de-ferro-2.jpg" alt="Título">
                    <div class="items">
                        <div class="left-side">
                            <h2>Homem de Ferro 2</h2>
                            <ul class="infos">
                                <li class="relevance">90% relevante</li>
                                <li class="age age-12"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>