.card-deck {
  margin: 0 auto; 
  padding: 10px 15px;
}
.containerPerfilForm{
  margin: 0 auto; 
  display: block;
  padding: 20px 30px;
  max-width: 40%;
  background: rgba(0, 0, 0, 0.7);
}
.adicionar {
  cursor: pointer;
}
.card {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.card img {
  max-width: 25%;
  margin: 3px auto;
}
.card-title {
  text-align: center;
}
.fa-plus {
  padding: 10px 15px;
  margin: 50px auto;
  font-size: 50px;
  border: 2px solid var(--color-pimaria);
  border-radius: 50%;
}
.btn-light {
  background-color: var(--bg-secundaria);
  color: white;
  border: none;
}
.btn-danger {
  background-color: var(--bg-secundaria);
  border: none;
  font-weight: bold;
  margin-top: 35px;
  margin-left: 1005px;
}
