<div class="row containerPerfilForm">
    <div class="col-md-12">
        <div class="card" *ngIf="show">
            <form [formGroup]="formPerfil">
                <div class="card-body">
                    <h6>Adicionar Perfil:</h6><br>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" class="form-control" placeholder="Nome do Perfil" formControlName="Nome"
                                required>
                        </div>
                    </div><br>
                    <!-- <div class="row">
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="Nome do Perfil"
                                            formControlName="ImagemUrl" required>
                                    </div>
                                </div><br> -->
                    <div class="row">
                        <div class="col-md-12">
                            <input type="checkbox" ng-model="checkboxModel" (change)="ckeckValue()" 
                            formControlName="Restricao"/> Infantil?
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="adicionar">
                                <a type="button" class="btn btn-light salvar" (click)="adicionarPeril()">Salvar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card-deck row justify-content-md-center">
            <app-perfis [perilVarClasse]="perfil" *ngFor="let perfil of perfis"></app-perfis>
            <div class="adicionar">
                <a type="button" (click)="abrirModal()"><i class="fa fa-plus"></i></a>
            </div>
        </div>
    </div>
</div>
