.background {
  margin: 0 auto;
  background-color: black;
  background-size: cover;
  color: var(--color-pimaria);
  box-align: center;
}
.logo img {
  width: 170px;
  height: 100px;
  float: right;
  margin-left: 30px;
}
.title {
  max-width: 720px;
  margin: 0 auto;
  display: block;
  font-size: 2em;
  font-weight: normal;
  text-align: center;
  margin-top: 50px;
}
.btn-danger {
  background-color: var(--bg-secundaria);
  border: none;
  font-weight: bold;
}
.margem-right{
  margin-right: 50px;
}
.margem-bottom{
  margin-bottom: 100px;
}
